
<div class="container__principal">
  <div class="principal__text"><h1 class="text_principal">PowerSchool Is Here To Help</h1>
  <p class="text_second">PowerSchool is doing everything we can to make it easy for districts to get up and running with distance learning.</p>
  <a class="btn btn-primary btn-lg " role="button" aria-disabled="true">Learn More</a>
  </div>
  <div class="principal__image"><img class="imagep" src="../../../assets/image-princ.png" alt=""></div>
</div>
<div class="container__school">
  <h1>Check out home learning tips & tricks for parents!</h1>
  <p>The Parent Channel on PowerSchool TV offers resources, tips and real stories from parents who are doing their best to make distance learning work. Check it out today! ​</p>
  <a class="btn btn-primary btn-lg " role="button" aria-disabled="true">VISIT POWERSCHOOL TV</a>
</div>

